
.checkout_Product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.CheckoutProduct_info {
    padding-left: 20px;
    max-width: 200px;
}

.CheckoutProduct_info > button {
      background: #f0c14b;
      border: 1px solid;
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: #a88734  #9c7e31 #846a29;
      color: #111;
      padding: 5px;
      width: 100%;
}

.CheckoutProduct_info > button:hover{
    background-color: #fafad2;
  box-shadow: 5px 10px 18px #888888;
}

.CheckoutProduct_image {
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.CheckoutProduct_title {
    font-size: 17px;
    font-weight: 600;
}